:root {
  --ds-background-100: #fff;
  --ds-background-over: rgb(255 255 255 / 0.5);;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #efefef;
  --accents-4: #f4f4f5;
  --accents-5: #666;
  --ds-gray-200: #ebebeb;
  --ds-gray-400: hsla(0,0%,92%,1);
  --ds-gray-900: hsla(0,0%,40%,1);
  --ds-gray-1000: hsla(0, 0%, 9%, 1);
  --font-foreground: #000;
  --guide-color: hsla(0,0%,92%,1);
  --input-shadow: #E7E4E4;
  --box-shadow-modal: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
  --error-msg: hsl(339.20000000000005 90.36% 51.18%);
}

.dark {
  --ds-background-100: #000;
  --ds-background-over: rgb(0 0 0 / 0.5);;
  --accents-1: #1e1e1e;
  --accents-2: #2c2c2c;
  --accents-3: #333333;
  --accents-4: #27272a;
  --accents-5: #b3b3b3;
  --ds-gray-200: #4a4a4a;
  --ds-gray-400: hsla(0,0%,18%,1);
  --ds-gray-900: hsla(0, 0%, 70%, 1);
  --ds-gray-1000: hsla(0, 0%, 90%, 1);
  --font-foreground: #e0e0e0;
  --guide-color: hsla(0, 0%, 10%, 1);
  --input-shadow: #3F3F46;
  --box-shadow-modal: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
  --error-msg: hsl(339.20000000000005 90.36% 51.18%);
}

html {
  color-scheme: light;
  background-color: rgb(250, 250, 250);
}

body {
  max-width: 100vw;
  min-height: 100%;
  margin: 0;
  line-height: 1.65;
  background-color: var(--ds-background-100);
}

a, button {
  text-decoration: none;
  transition: color 0.15s ease;
  font-size: 14px;
  border-radius: 2px;
  color: var(--accents-5);

  &:hover {
    color: var(--font-foreground);
  }
}

h1, h2, h3 {
  color: var(--font-foreground);
  margin: 0;
}

p, label {
  font-size: 14px;
  margin: 0;
}

ul {
  list-style-type: none;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
