:root {
  --ds-background-100: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #efefef;
  --accents-5: #666;
  --ds-gray-200: #ebebeb;
  --ds-gray-900: hsla(0,0%,40%,1);
  --ds-gray-1000: hsla(0, 0%, 9%, 1);
  --font-foreground: #000;
  --guide-color: hsla(0,0%,92%,1);
}

html {
  color-scheme: light;
  background-color: rgb(250, 250, 250);
}

body {
  max-width: 100vw;
  min-height: 100%;
  margin: 0;
  line-height: 1.65;
  overscroll-behavior-y: contain;
}

a {
  text-decoration: none;
  transition: color 0.15s ease;
  font-size: 14px;
  border-radius: 2px;
  color: var(--accents-5);

  &:hover {
    color: var(--font-foreground);
  }
}

ul {
  list-style-type: none;
}

*, :after, :before {
  box-sizing: border-box;
}
