.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.hero {
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 3.75rem;
  line-height: 1;
  text-align: center;
}

.description {
  text-align: center;
  color: var(--ds-gray-900);
  max-width: 36rem;
}
